* {
    margin: 0%;
    padding: 0;
    background-color: #f7c1a5;
}

img {
    width: 500px;
    height: 300px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: disc;
}