* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 500px;
    height: 300px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7c1a5;
}

ul {
   list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  text-align: center;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 20px;
  text-align: center;
}

main {
    font-size: 20px;
    line-height: 1.5;
    max-width: 800px;
    text-align:center;
    padding: 0px;
    margin: 0px auto;
    border-radius: 5px;
}

.cabeçalho {
    background: linear-gradient(135deg, #ff5ba2);
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}