* {
    margin: 0%;
    padding: 0;
    background-color: #f7c1a5;
}

img {
    width: 500px;
    height: 300px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

ul.topicos {
    list-style-type: disc;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}