* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
   margin-top: 40px;
   border-radius: 8px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7c1a5;
}

ul {
   list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  text-align: center;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 20px;
  text-align: center;
}

main {
    font-size: 27px;
    line-height: 1.2;
    max-width: 800px;
    text-align:center;
    padding: 0px;
    margin: 0px auto;
    border-radius: 5px;
}

.cabeçalho {
    font-size: 15px;
    background: linear-gradient(135deg, #ff5ba2);
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}